<!DOCTYPE html>

<html>
	<head>
		<title>Reel Talk!</title>
		<link rel="stylesheet" href="css/navbar.css"> <!-- The Navigation Bar -->
		<link rel="stylesheet" href="css/style.css" /> <!-- The default styles-->
		<link rel="stylesheet" href="css/user settings.css" /> <!-- The User Settings Page Style-->
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	
	<body>
	
	<!-- This part is all about the navigation bar -->
	{{> navbar_logged}}
	

	<!-- This part is the main area where the content is placed-->
	<div id="main-center">
		<div class="main-wrapper">
			<!-- "your account settings header" -->
			<h1 class="header-texts">Your Account Settings</h1>
			<div class="settings-main">

				<!-- the box containing all the account information -->	
				<div class="accsetbox">
					<img src="{{profile_picture}}" class="accsetprevpic"></img>

					<div class="user-info-container">
						<h2 class="usersettingsheader">Username:</h2>
						<p>{{username}}</p>

						<p class = "usersettings-line"></p>

						<h2 class="usersettingsheader">Email-address:</h2>
						<p>{{email}}</p>
						
						<p class = "usersettings-line"></p>

						<h2 class="usersettingsheader">Name:</h2>
						<p>{{firstname}} {{lastname}}</p>
						
						<p class = "usersettings-line"></p>

						<h2 class="usersettingsheader">Birthday:</h2>
						<p>{{birthday}}</p>
						
						<p class = "usersettings-line"></p>
						
						<h2 class="usersettingsheader">Gender:</h2>
						<p>{{gender}}</p>
						
						<p class = "usersettings-line"></p>
					</div>
				</div>
				
				<button class = "editsettingsbutton" onclick="location.href='User Settings Edit.html'"> 
					Edit Settings
				</button>
			</div>
		</div>
	</div>

	<script src="js/main.js"></script>
</body>
</html>
