{{!-- IN THE FOLLOWING FILES: --}}
{{!-- edit_watchlist.hbs --}}

<div class="in-watchlist">
    <div class="in-watchlist-img-wrapper">
        <img src="{{poster}}" alt="Watchlist item poster">
        <div class="in-watchlist-overlay">
            <div>Remove</div>
        </div>
    </div>

    <div class="in-watchlist-info">
        <h2>{{title}} ({{year}})</h2>
        <div class="in-watchlist-genres">
            <p>{{genre}}</p>
        </div>
        <p>{{description}}</p>
    </div>
</div>