{{!-- IN THE FOLLOWING FILES: --}}
{{!-- User Profile Collections.hbs --}}

<div class="watchlistcard">
    <div class="postpane-overlay-buttons">
        <button class="postpane-overlay" onclick="" title="Edit Watchlist"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <div class="watchlistcardposterholder">
        {{#each show}}
            <img src="{{this.poster}}" class="watchlistcard"></img>
        {{/each}}
        <h2 class="fourthpic-text">And more...</h2>
    </div>
    
    <div class = "watchlistcardinfo">
        <h1 class = "watchlistcardinfo">{{watchlist_name}} <span class="watchlistcardinfo-divider">|</span> <span class="watchlist-count" value="{{count}}">In Watchlist: {{count}}</span></h1>
        <h2 class = "watchlistcardinfo">{{watchlist_description}}</h2>
    </div>
</div>