<!DOCTYPE html>

<html>
	<head>
		<title>Reel Talk!</title>
		<base href="/">
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/edit_watchlist.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	
	<body>
	
	<!-- This part is all about the navigation bar -->
	{{#if logged_in}}
		{{> navbar_logged}}
	{{else}}
		{{> navbar}}
	{{/if}}

    <!-- To add reviews/watchlist tab -->

    <div class="usertab">
		<button id = "usertabbutton-reviews" class="inactive"  onclick= "location.href = '/user-reviews/{{userId}}'">Reviews</button>
		<button id = "usertabbutton-collections" class="active" onclick= "location.href = '/user-watchlists/{{userId}}'">Watchlists</button>
	</div>

	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<div class="main">

				<div class="edit-watchlist-wrapper">
                    <h1>{{title}}</h1>
                    <h3>{{description}}</h3>
                    {{#if watchlist_item}}
						{{#each watchlist_item}}
							{{> in_watchlist_item edit=../edit title=this.title genre=this.genre description=this.description year=this.year image=this.image}}
						{{/each}}
					{{else}}
						<h4 class="none-found">This watchlist is empty.</h4>
					{{/if}}   
                </div>
					
			</div>		
		</div>
	</div>

	<script src="js/main.js"></script>
	</body>
</html>