{{!-- IN THE FOLLOWING FILES: --}}
{{!-- search_results.hbs --}}
{{!-- search_results_logged.hbs --}}

<div class="carousel-item">
    <div class="carousel-item-box">
        <img src="{{poster}}">
        <div class="carousel-item-info">
            <h3>{{title}} ({{year}})</h3>
            <div class="carousel-item-genres">
                <p>{{genre}}</p>
            </div>
            <p>{{description}}</p>
            <button>Add to Watchlist</button>
        </div>
    </div>
</div>