<div class="carousel-item">
    <div class="carousel-item-box">
        <img src="{{image}}">
        <div class="carousel-item-info">
            <h3>{{title}} ({{year}})</h3>
            <div class="carousel-item-genres">
                <p>{{genre}}</p>
            </div>
            <p>{{description}}</p>
            <div class="carousel-item-buttons">
                <button onclick="addToWatchlist('{{_id}}')">Add to Watchlist</button>
                <button class="createReview">Create review</button>
            </div>
        </div>
    </div>
</div>