<div class="postpane">
    <div class="postpane-overlay-buttons">
        <button class="postpane-overlay" onclick="AddOverlayOn()" title="Add to Watchlist"><i class="fa-solid fa-plus"></i></button>
        <button class="postpane-overlay" onclick="location.href='get-create-review/{{showID}}'" title="Create a Review"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <img src="{{poster}}" class="reviewpic">
    
    <!-- Review Bar -->
    <div class="review">
        {{#if otherUserId}}
        <a href="/user-reviews/{{otherUserId}}" title="Visit Profile">{{username}}:</a>
        {{else}}
        <a href="/user-reviews" title="Visit Profile">{{username}}:</a>
        {{/if}}
        
        <!-- Star Ratings -->
        <div class="stars">
            {{#times rating}}
                <div class="star-gold"></div>
            {{/times}}
        </div>
        
        <!-- The review of the post -->
        <p class="review">{{description}}</p>
    </div>
    
    <!-- Title Bar of the review -->
    <div class="titlebar">
        <h1 class="titlebar">{{title}}</h1>
        
        <ul class="titlebar">
        <li><a href="#">{{genre}}</a></li>
    
        <button class="comment" onclick="location.href='/get-review-page/{{reviewID}}'">Write a Comment</button>
    </div>

</div>