<div class="postpane">
    <div class="postpane-overlay-buttons">
        <button class="postpane-overlay" onclick="AddOverlayOn()" title="Add to Watchlist"><i class="fa-solid fa-plus"></i></button>
        <button class="postpane-overlay" onclick="NewReviewOverlayOn()" title="Create a Review"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <img src="{{poster}}" class="reviewpic">
    
    <!-- Review Bar -->
    <div class="review">
        <a href="#" title="Visit Profile">{{username}}:</a>
        
        <!-- Star Ratings -->
        <div class="stars">
            <div class="star-gold"></div>
            <div class="star-gold"></div>
            <div class="star-gold"></div>
            <div class="star-gold"></div>
            <div class="star-gold"></div>
        </div>
        
        <!-- The review of the post -->
        <p class="review">{{review_preview}}</p>
    </div>
    
    <!-- Title Bar of the review -->
    <div class="titlebar">
        <h1 class="titlebar">{{title}}</h1>
        
        <ul class="titlebar">
        <li><a href="#">{{genre}}</a></li>
    
        <button class="comment">Write a Comment</button>
    </div>

</div>