<div class="userwindow">
    <div class="userwindowbp">
        <img src="images/bp.png" class="userwindowbp">
    </div>
    <div class="userwindowpp">
        <img src="{{profile_pic}}" class="userwindowpp">
    </div>
    <div class = "userwindowinfo">
        <h1 class="userwindowname">{{username}}</h1>
        <p class = "userwindowgender">Gender: {{gender}}</p>
        <p class = "userwindowbirthday"> Birthday: {{birthday}}</p>
        <p class ="userwindowposts">Posts: {{numPosts}}</p>
        <p class ="userwindowcomments">Comments: {{numComments}}</p>

        <button class = "editprofilebutton"> 
            Edit Profile
        </button>
    </div>
</div>