<div class="watchlistcard">
    <div class="postpane-overlay-buttons">
        <button id="watchlist-edit-button" class="postpane-overlay" onclick="location.href='/view-watchlist/{{this._id}}'" title="Edit Watchlist"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <div class="watchlistcardposterholder">
        {{#each this.shows}}
            <img src="{{this.image}}" class="watchlistcard"></img>
        {{/each}}

        {{#if this.greaterThanFour}}
        <h2 class="fourthpic-text">And more...</h2>
        {{/if}}
    </div>
    
    <div class = "watchlistcardinfo">
        <h1 class = "watchlistcardinfo">{{this.title}} <span class="watchlistcardinfo-divider">|</span> <span class="watchlist-count" value="{{count}}">In Watchlist: {{this.item_count}}</span></h1>
        <h2 class = "watchlistcardinfo">{{this.description}}</h2>
    </div>
</div>