<!DOCTYPE html>
<html>
	<head>
		<title>Reel Talk!</title>
		<base href="/">
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/overlays.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/review_card.css" />
		<link rel="stylesheet" href="css/watchlist_card.css" />
		<link rel="stylesheet" href="css/watchlist_sidepane.css" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d3e3786cbe.js" crossorigin="anonymous"></script>
	</head>
	<body>
	
	<!-- Navigation bar -->
	{{#if username}}
		{{> navbar_logged}}
	{{else}}
		{{> navbar}}
	{{/if}}

	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<h1 class="header-texts">Create a New Review</h1>
			<div class="main">
				
                <div id="new-review">
                    <div class="poster-selection">
                        <div class="poster-selection-wrapper">
                            <img src="{{image}}" alt="Poster">
                        </div>
                    </div>
                    <h2>{{title}} ({{year}})</h2>
                    <div class="genres">
                        <p>{{genre}}</p>
                    </div>
                    <form action="/create-review" method = "post">
                    <textarea name="review-narrative" id="review-narrative" placeholder="Write a review here..."></textarea>
                    <button id="reel-it" type = "submit">Reel It!</button>
                    </form>
                    <button class="cancel-review" onclick="location.href=/">Cancel</button>
                </div>
					
			</div>		
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/main.js"></script>
	</body>
</html>