<!DOCTYPE html>
<html>
	<head>
		<title>Reel Talk!</title>
		<base href="/">
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/edit_watchlist.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	
	<body>
	
	<!-- This part is all about the navigation bar -->
	{{> navbar_logged}}

	</body>
    <div class="usertab">
		<button id = "usertabbutton-reviews" class="inactive" onclick= "location.href = 'User Profile Reviews.html'">Reviews</button>
		<button id = "usertabbutton-collections" class="active" onclick= "location.href = 'User Profile Collections.html'">Watchlists</button>
	</div>

	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<div class="main">

				<div class="edit-watchlist-wrapper">

                    <h1>Edit Your Watchlist</h1>
                    <form action="/save-watchlist" id="edit-watchlist-text" method = "post">
                        <p>Watchlist Name:</p>
                        <input type="text" name="watchlist_name" id="watchlist-name" value="{{title}}">
                        <p>Watchlist Description (optional):</p>
                        <textarea name="watchlist_description" id="watchlist-description">{{description}}</textarea>
						<input type="hidden" name="watchlistId" value="{{watchlistId}}">
                    
                        <h1>In Your Watchlist</h1>
                        <!-- Items in watchlist -->
						{{#if watchlist_item}}
							{{#each watchlist_item}}
								{{> in_watchlist_item edit=../edit title=this.title genre=this.genre description=this.description year=this.year image=this.image watchlistId=../watchlistId showId=this._id}}
							{{/each}}
						{{else}}
							<h4 class="none-found">This watchlist is empty.</h4>
						{{/if}}

                        <div class="edit-watchlist-save"><button type="submit">Save</button></div>
                    </form>
						<div class="edit-watchlist-save" id="delete-watchlist" onclick="location.href='/delete-watchlist/{{watchlistId}}'"><button>Delete Watchlist</button></div>
                </div>
					
			</div>		
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</html>